# Git ignore file for HRMS project

# Python cache files

**pycache**/
*.py[cod]
*.pyo
*.pyd

#db migrations
hrms/alembic/versions/*.py
hrms/alembic/versions/*.pyc

# Environment and virtual environment

hrms/.env/
hrms/*.env
hrms/config.env

# VS Code

.vscode/

# MacOS

.DS_Store

# Logs

*.log

# Database files (optional)

*.sqlite3

# Pytest cache

.pytest_cache/

# MyPy cache

.mypy_cache/

# Coverage reports

htmlcov/
.coverage

# Pydantic model rebuild cache (if any)

.pydantic_cache/
